<div class="container">
  <%= "#{current_user.first_name}'s Listings" %>
  <ul>
    <% current_user.listings.each do |listing| %>
      <%= link_to "#{listing.listing_name} - #{listing.address} - #{listing.hourly_price}", listing_path(listing) %>
    <% end %>
  </ul>
  <%= link_to "New Listing", new_listing_path, class: "btn btn-primary" %>

</div>
