<div class="container">
<h1> Change availability for <%= @listing.listing_name %> </h1>
  <div class="row">
    <div class="col-xs-6 col-md-4">
    <%= simple_form_for @listing do |f| %>
    <%= f.input :active, collection: [true, false], label: "Active Listing?" %>
    <%= f.submit %>
    <% end %>
    </div>
  </div>
    <hr>
</div>
