<div class="banner">
  <div class="container">
    <div class="row">
      <h1>Bikejoubu</h1>
      <div>
        <%= form_tag(listings_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search', name: nil %>
        <% end %>
      </div>
      <div><h1>Move Faster with Bikejoubu</h1></div>
      <div><p>Tired of walking? Bikejoubu! </p></div>
    </div>
  </div>
</div>





