.listings-card-bin {
  position: relative;
  top: -55px;
  right: -40px;
}

.update-button {
  position: relative;
  bottom: 60px;
  left: 50px;
}
.btn {
  margin-left: 35px;
}

i :hover {

opacity: 0.5;
}
