.show-content {
  display: flex;
}

.show-info {
  width: 450px;
  margin: 0 auto;
}

.name-link {
  color: black;
}

.name-link:hover {
  text-decoration: none;
  color: blue;
}

.update-button-2 {
  // position: relative;
  // bottom: 50px;
  // left: 300px;
}
