.show-content {
  display: flex;
}

.show-info {
  width: 450px;
  margin: 0 auto;
}

.name-link {
  color: black;
}

.name-link:hover {
  text-decoration: none;
  color: blue;
}

.update-button-2 {
  position: relative;
  bottom: 10px;
  right: 10px;
}

.radio-styling {
  margin-top: 0;
}
