<div class="container">
<h1>Review Booking Details</h1>
<p>Bike Owner: <%= "#{@listing.renter.first_name} #{@listing.renter.last_name}" %> </p>
<p>Pick Up:</p>
<p>Drop Off:</p>
<p>payment info</p>

<%= simple_form_for @booking do |f| %>
  <%= f.input %>
<% end %>
</div>
