<div class="container">
  <div class="row">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <%= link_to "Edit Profile",  edit_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
