<h1>Bikejoubu</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div>
    <%= form_tag(root_path, method: :get) do %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search', name: nil %>
    <% end %>
  </div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../images/background.jpg');">

    <div class="banner-content">
      <h1>Move Faster with Bikejoubu</h1>
      <p>Tired of walking? Bikejoubu! </p>
      <a href="" class="btn-yours">Search!</a>
    </div>
  </div>

     <!--  <a data-flickr-embed="true"  href="https://www.flickr.com/photos/131246576@N05/38682183140/in/album-72157666156177658/" title="DSC_4294"><img src="https://farm5.staticflickr.com/4605/38682183140_c21d13731d_k.jpg" width="2048" height="1356" alt="DSC_4294"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script> -->

