// .container{
//   height: calc(100vh-70px)

// }
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(image-path("background2.JPG"));
  background-size: cover;
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  margin-bottom: 20px
}
.banner h1 {
  color: white;
  font-size: 60px;
  font-family: 'Raleway';
}
.banner h3 {
  color: white;
  font-family: 'Raleway', cursive;
}
.banner p {
  color: white;
  font-family: 'Lobster';
  font-size: 18px;
}
.input {
  width: 400px;
}

