.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}
.card h2:hover {
  text-decoration: none;
  // text-shadow: 0 0 3px #FF0000;
}
.no-deco:hover {
  text-decoration: none;
   text-shadow: 0 0 3px #FF0000;
}
.card-category {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.card-category:hover {
  text-decoration: none;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-name {
  position: relative;
  top: 10px;
}
.card-distance {
  position: relative;
  top: 50px;
  // right: 40px;
}
.card-price {
  position: relative;
  top: 50px;
  // right: 40px;
}
.card-rating {
  position: relative;
  top: 50px;
  // right: 40px;
}
.card-link:hover {
  opacity: 0.1;
}

.card-bin {
  position: relative;
  top: 7px;
}


